<a href="https://colab.research.google.com/github/harshmangal1108/python_adhoc/blob/master/Pdfread.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip3 install PyPDF2

Collecting PyPDF2
  Downloading https://files.pythonhosted.org/packages/b4/01/68fcc0d43daf4c6bdbc6b33cc3f77bda531c86b174cac56ef0ffdb96faab/PyPDF2-1.26.0.tar.gz (77kB)
     |████████████████████████████████| 81kB 3.1MB/s
Building wheels for collected packages: PyPDF2
  Building wheel for PyPDF2 (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/53/84/19/35bc977c8bf5f0c23a8a011aa958acd4da4bbd7a229315c1b7
Successfully built PyPDF2
Installing collected packages: PyPDF2
Successfully installed PyPDF2-1.26.0

In [0]:
## IMPORT PDF MODULE
import PyPDF2 as pdf

In [0]:
## OPENING PDF FILE
file=open('Sub-Queries-Constraints.pdf','rb')

In [0]:
## READING PDF FILE
pdfread=pdf.PdfFileReader(file)

In [11]:
type(pdfread)

PyPDF2.pdf.PdfFileReader

In [27]:
## NUMBER OF PAGES IN PDF FILE
print(pdfread.numPages)

2

In [0]:
## FIRST PAGE
page1=pdfread.getPage(0)
page2=pdfread.getPage(1)

In [30]:
print(page1.extractText())
print(page1.extractText())

For details Contact: +91  9292005440


Mail:  datahills7@gmail.com

Page
1


Sub
-
Queries & Constraints


SUB QUERIES
: A select statement contains


Sub Query contains 2 kinds of Queries those are

1. Outer Query

2. Inner Query

Outer query always depends on inner query result.

Syntax:

SELECT * FROM <TABLE_NAME> WHERE (CONDITION) (SELECT * FROM
<


ANY:

The ANY comparison condition is used to compare a value to a list or
sub query
.

Example:

SELECT T1.TID, T1.PRICE FROM   TICKET T1 WHERE T1.PRICE > ANY
(SELECT T2.PRICE FROM   TICKET T2 WHERE T2.BNO = 40);

ALL:

The ALL comparison condition is used to compare a value to a list or
sub query
.

Example:

SELECT T1.TID, T1.PRICE FROM   TICKET T1 WHERE T1.PRICE > ALL
(SELECT T2.PRICE FROM   TICKET T2 WHERE T2.BNO = 40);

IN:

In operator will return the value as per g
iven condition values.

Example:

SELECT * FROM BUS WHERE BNO IN (10,20,40);

EXISTS &
NOT EXIST:

If sub query will return any value then EXISTS will be TRUE and
NOT EXISTS will be FALSE

Example 1:

SELECT * FROM TICKET T WHERE EXISTS (SELECT * FROM
RESERVATION R WHERE T.TID=R.TID);

Example 2:

SELECT * FROM TICKET T WHERE NOT EXISTS (SELECT * FROM
RESERVATION R WHERE T.TID=R.TID);

UNION:

Union operator will returns unique values from the tables.

Example:

SELECT * FROM RESERVATION UNION SELECT * FROM
CANCELLATION;

INTERSECT:

Intersect operator will returns common values from the tables.

Example:

SELECT * FROM RESERVATION INTERSECT SELECT * FROM
CANCELLATION;






For details Contact: +91  9292005440


Mail:  datahills7@gmail.com

Page
1


Sub
-
Queries & Constraints


SUB QUERIES
: A select statement contains


Sub Query contains 2 kinds of Queries those are

1. Outer Query

2. Inner Query

Outer query always depends on inner query result.

Syntax:

SELECT * FROM <TABLE_NAME> WHERE (CONDITION) (SELECT * FROM
<


ANY:

The ANY comparison condition is used to compare a value to a list or
sub query
.

Example:

SELECT T1.TID, T1.PRICE FROM   TICKET T1 WHERE T1.PRICE > ANY
(SELECT T2.PRICE FROM   TICKET T2 WHERE T2.BNO = 40);

ALL:

The ALL comparison condition is used to compare a value to a list or
sub query
.

Example:

SELECT T1.TID, T1.PRICE FROM   TICKET T1 WHERE T1.PRICE > ALL
(SELECT T2.PRICE FROM   TICKET T2 WHERE T2.BNO = 40);

IN:

In operator will return the value as per g
iven condition values.

Example:

SELECT * FROM BUS WHERE BNO IN (10,20,40);

EXISTS &
NOT EXIST:

If sub query will return any value then EXISTS will be TRUE and
NOT EXISTS will be FALSE

Example 1:

SELECT * FROM TICKET T WHERE EXISTS (SELECT * FROM
RESERVATION R WHERE T.TID=R.TID);

Example 2:

SELECT * FROM TICKET T WHERE NOT EXISTS (SELECT * FROM
RESERVATION R WHERE T.TID=R.TID);

UNION:

Union operator will returns unique values from the tables.

Example:

SELECT * FROM RESERVATION UNION SELECT * FROM
CANCELLATION;

INTERSECT:

Intersect operator will returns common values from the tables.

Example:

SELECT * FROM RESERVATION INTERSECT SELECT * FROM
CANCELLATION;